body {
  padding: 1em 2em;
  margin: 0;
  background-color: #272822;
  color: #f8f8f2;
  font-family: consolas, monospace;
  font-size: 16px;
}

a {
  color: #f8f8f2;
}

h1 {
  margin: 0 0 16px 0;
}

h1 small {
  color: #5b5c56;
  font-size: 24px;
}

h2 {
  margin: 8px 0;
  font-size: 1em;
}

h2:first-child {
  margin-top: 0;
}

h2:last-child {
  margin-bottom: 0;
}

td, th {
  padding: 5px 10px;
  text-align: left;
}

input[type=text] {
  background-color: #272822;
  color: #f8f8f2;
  border: none;
  border-bottom: 1px solid #5b5c56;
  font-family: consolas, monospace;
  font-size: 16px;
}

.footer {
  font-size: small;
  text-align: center;
  color: #5b5c56;
}

.footer a {
  color: #5b5c56;
}

.button {
  background-color: #49483e;
  color: #f8f8f2;
  border-radius: 9px;
  cursor: pointer;
  padding: 2px 8px;
  font-weight: normal;
}

.button:hover {
  background-color: #5b5c56;
}

.tab-bar {
  display: table;
  width: 100%;
}

.tabs {
  margin: 0;
  padding: 0;
}

.project-tabs {
  display: table-cell;
  vertical-align: bottom;
}

.app-tabs {
  display: table-cell;
  width: 1px;
  vertical-align: bottom;
}

.tabs li {
  margin: 0;
  padding: 8px 16px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.tabs li:hover {
  background-color: #49483e;
}

.tabs li.active {
  background-color: #5b5c56;
  cursor: default;
}

.panel {
  border: 1px solid #5b5c56;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 12px;
}

.panel p {
  margin-left: 12px;
  margin-right: 12px;
}

.todo-item {
  display: table;
  width: 100%;
  padding: 6px 0;
  margin: 8px 0;
}

.todo-item:last-child {
  margin-bottom: 0;
}

.todo-item:hover {
  background-color: #49483e;
}

.dragging {
  opacity: 0.5;
}

.dropzone.dragover {
  outline: 1px dashed #5b5c56;
}

.doing-dropzone.empty {
  margin: 8px 0;
  padding: 6px 0;
  color: #5b5c56;
  text-align: center;
}

.todo-item .todo-item-toolbar {
  display: table-cell;
  height: 100%;
  width: 1px;
  padding: 0 12px 0 6px;
  white-space: pre;
}

/* Hack for IE contentEditable difference - make p behave like br */
.todo-item .todo-item-text p {
  margin: 0;
}

.todo-item .todo-item-handle {
  display: table-cell;
  text-align: center;
  height: 100%;
  width: 1px;
  padding: 0 6px 0 12px;
}

.handle {
  cursor: move
}

.todo-item .todo-item-handle {
  visibility: hidden;
}

.todo-item:hover .todo-item-handle {
  visibility: visible;
}

.todo-item .todo-item-text {
  display: table-cell;
  height: 100%;
  white-space: pre;
}

.control {
  cursor: pointer;
}